// Global loading
.is-loading {
    position: relative;
    color: transparent;
    text-shadow: none;
    pointer-events: none;
    user-select: none;

    &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        height: 30%;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        border: .2em solid $color-white;
        border-bottom-color: transparent;
        content: '';
        transform: translate(-50%, -50%);
        animation: loading 1s linear infinite;

        @keyframes loading {
            to {
                transform: translate(-50%, -50%) rotate(360deg);
            }
        }
    }

    & > * {
        opacity: .2;
        filter: blur(5px);
    }
}
