@each $breakpoint in map-keys($media) {
    @include media($breakpoint) {
        $bp: breakpoint($breakpoint);

        // Text size
        @each $size in $sizes {
            .text#{$bp}-#{$size} {
                font-size: #{$size}px;
                line-height: 1.2;
            }
        }

        // Text align
        @each $align in $aligns {
            .text#{$bp}-#{$align} {
                text-align: $align;
            }
        }
    }
}

@each $color, $value in $colors {
    // Text color
    .text-#{$color} {
        color: $value;
    }

    // SVG Fill color
    svg.fill-#{$color} {
        fill: $value;
    }

    svg.stroke-#{$color} {
        stroke: $value;
    }
}

.text {
    &-bold       { font-weight: 700; }
    &-normal     { font-weight: 400; }
    &-uppercase  { text-transform: uppercase; }
    &-capitalize { text-transform: capitalize; }
}
