.footer {
    background-color: $color-secondary;
    border-top: 1px solid rgba($color-white, .2);

    a:hover {
        color: $color-accent;
    }

    hr {
        border: 0;
        border-top: 1px solid rgba($color-white, .2);
    }

    &-copy {
        color: rgba($color-primary, .5);
    }
}